{% extends 'baseLouvre.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}

{% block title %}Achat de billets Louvre{% endblock %}

{% block body %}

    {% include 'louvre/parts/nav.html.twig'%}

    <div class="content">

        {% if message_success == null and step != 1 %}
            {% if message_alert %}

                <div class="alert alert-danger alert-dismissible fade show" role="alert">

                    {{ message_alert }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            {% if message_info %}
                <div class="alert alert-light text-center alertinfo" role="alert">
                    {{ message_info }}
                </div>
            {% endif %}

            <div class="annulation text-center">
                <a class="btn btn-danger" href="/annulation" role="button">Annuler commande</a>
            </div>
        {% endif %}

        {% if step == 1 %}
            {% if message_alert %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message_alert }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="container" id="step1">
                <h1>Étape 1
                </h1>
                <h2 class="text-center">Réservez le nombre de billets souhaités</h2>
                <p class="text-center">
                    Les billets seront envoyés sur l'adresse mail que vous allez renseigner.
                </p>
                <div class="well">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_errors(form.nombre) }}
                        <i class="fa fa-minus-square" onclick="decrementeRange()"></i>
                        {{ form_widget(form.nombre, {'attr': {'class': 'form-control-range'}}) }}
                        <i class="fa fa-plus-square" onclick="incrementeRange()"></i>
                        <span id="nbrTicket">1</span>
                    </div>

                    <div class="form-inline">
                        {{ form_errors(form.date) }}
                        {{ form_errors(form.mail) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.date) }}
                        </div>

                        <div class="col-sm-6">
                            {{ form_widget(form.mail) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
                <div id="places-rest" class="alert hidden" role="alert"></div>
            </br>
        </div>
        <div id="js-date-conf" data-date-conf="{{ datepickConf}}"></div>
    </div>
{% endif %}

{% if step == 2 %}
    <h1>
        Étape 2
    </h1>

    <div id="js-demijour-conf" data-demijour-conf="{{ demiJourObligatoire}}"></div>
    <div id="js-nbrOptions-conf" data-nbroptions-conf="{{ nbrOptions}}"></div>

    {% form_theme form 'louvre/parts/form_theme.html.twig' %}
    {{ form(form) }}{% endif %}

    {% if step == 3 %}
        {% if message_success == null %}
            {% if message_failed != null %}

                <div class="alert alert-danger margin-top">
                    <p class="lead">Le paiement de votre achat n'a pas été validé suite a une erreur.</p>
                    <p>Veuillez vérifier vos informations bancaires.</p>
                </div>
            {% endif %}

            <h1>
                Étape 3
            </h1>
            <h2>paiement carte bancaire</h2>

            <div class="stripe">
                <form action="/billets" method="post" id="payment-form">
                    <div class="form-row">
                        <label for="card-element">
                            Paiement securisé
                        </label>
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>
                        <!-- Used to display Element errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <button class="btn btn-success margin-top-half">Valider achat</button>
                </form>
            </div>

            <h3 class="margin-top text-left">Récapitulatif des billets commadés :
            </h3>
            <ul class="margin-top">

                {% for billet in billetsListeFinale %}
                    <li class="margin-top-half">
                        {{billet.nom}}
                        {{billet.prenom}},
                        {{billet.dateNaissance|date("d-M-Y")}}, &nbsp;&nbsp;
                        <u>Prix</u>
                        :
                        {{billet.prixUnitaire}}€

                    </li>
                {% endfor %}

            {% endif %}
        </ul>
        {% if message_success != null %}

            <div class="alert text-center">
                <h1 class="display-4">Félicitations!</h1>
                <p class="lead">Le paiement de votre achat a été validé</p>
                <p>Vous allez recevoir vos billets sur votre boite mail.</p>
            </div>
        {% endif %}
    {% endif %}
</div>

{% block javascripts %}

    {% if step == 1 %}
        <script src="{{ asset('js/datePick.js') }}"></script>

    {% endif %}

    {% if step == 2 %}
        <script src="{{ asset('js/collection.js') }}"></script>
    {% endif %}

    {% if step == 3 and message_success == null%}
        <script src="{{ asset('js/stripeLouvre.js') }}"></script>
    {% endif %}

{% endblock %}

{% endblock %}