{# app/Resources/views/Emails/registration.html.twig #}
<h1>Billeterie en ligne du louvre</h1>

<p>
    Merci d'avoir commandé vos billets sur notre plateforme en ligne.

</p>

<p>
    Vous trouverez ci-dessous les billets à présenter aux membres du personnel chargé de la verification des entrées.
</p>

{% for item in billets %}
    <hr>
    <div class="entete">
        <h2>Musée du Louvre</h2>
        <p class='logomail'>
            <img src="{{ cid }}" alt="Logo Louvre">
        </p>

    </div>
    <div class="corp">
        <h4>Date de la visite</h4>
        <p>
            {{commande.date|date("d/m/Y", "Europe/Paris")}}
        </p>
        <h4>Prix du billet</h4>
        <p>{{item.prixUnitaire}}€</p>
        <p>Tarif réduit :
            {{item.tarif ? ' oui' : 'non'}}</p>
        <p>Demi journée :
            {{item.demiJournee ? ' oui' : 'non'}}</p>
        <h4>Titulaire du billet</h4>
        <p>Nom :
            {{item.nom}}
            Prénom :
            {{item.prenom}}</p>
        <h4>Code de reservation</h4>
        <p>{{item.uniqueId}}</p>
    </div>
    <hr>

    <br>

{% endfor %}

<style>
    .logomail,
    h2 {
        text-align: center;
    }
</style>